In [292]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [293]:
df = pd.read_excel ('STG_PGT.xlsx')

In [294]:
df.DAT_VCT = pd.to_datetime(dados_STG_PGT.DAT_VCT, format='%d%m%Y', errors='coerce')
df.DAT_RSS_FNT_ITT = pd.to_datetime(dados_STG_PGT.DAT_RSS_FNT_ITT, format='%d%m%Y', errors='coerce')

In [299]:
df

,ID_STG_PGT,VLR_PGT_FAT,DAT_VCT,COD_MDL,QTD_CLI_CAD_POS,QTD_PGT,ID_FNT_ITT,DES_TIP_PSS,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,451,515711,2022-08-16,A04,22,22,67,F,2020-01-16,2020-01-17 17:50:42.746
1,452,60763,2020-10-26,A99,2,2,67,F,2020-01-16,2020-01-17 17:50:42.746
2,453,8588195,2019-02-24,G01,22,22,67,F,2020-01-16,2020-01-17 17:50:42.746
3,454,369084,2018-06-24,B99,16,23,67,F,2020-01-16,2020-01-17 17:50:42.746
4,455,13054,2021-02-20,B99,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
...,...,...,...,...,...,...,...,...,...,...
15441,15422,795535,2023-01-23,A04,47,48,67,F,2020-01-16,2020-01-17 17:50:42.746
15442,15423,519,2018-01-20,A99,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
15443,15424,140534,2020-06-26,A01,3,3,67,F,2020-01-16,2020-01-17 17:50:42.746
15444,15425,141887,2024-11-11,A01,7,9,67,F,2020-01-16,2020-01-17 17:50:42.746
15445,15426,116296,2023-03-17,A01,11,20,67,F,2020-01-16,2020-01-17 17:50:42.746

In [297]:
import datetime

count = -1
expired, up, nonValue = 0, 0, 0

for c in df.DAT_VCT:
    count += 1
    op = df.DAT_VCT[count] - df.DAT_RSS_FNT_ITT[count]
    
    if op.days > 0:
        up += 1
    elif op.days <= 0:
        expired += 1
    else:
        nonValue += 1
    
print(f'up = {up} | expired = {expired} | nonValue = {nonValue}')

up = 7510 | expired = 7844 | nonValue = 92